*.jpg
*.pdf
*.mkv
*.avi
*.gif
*.txt
*.asv
*.mat
*.csv
*.in
*.out
*.mexa64
!*kinova_with_gripper.txt
build/
.vscode/
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/armour_main
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/armour.in
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/armtd_main
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime_armtd_comparison/buffer/armtd.in
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/buffer/
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/rtd_force_main_v2
kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/BufferPath.h
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/joint_positions.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/link_c.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/obstacles.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/node_feasibility.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/collision_free_adj_matrix.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/adj_matrix_milnodes_modwrap_mult3.csv
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/collision_checker
kinova_src/kinova_simulator_interfaces/kinova_robust_controllers_mex/kinova_controller.mexa64
kinova_src/kinova_simulator_interfaces/kinova_robust_controllers_mex/robot_model_file_path.hpp
kinova_src/scripts/adj_matrix.txt
kinova_src/scripts/thousandNodes.csv
kinova_src/scripts/BuildAdjacency
kinova_src/kinova_simulator_interfaces/kinova_samplebased_HLP_realtime/BuildAdjacency
kinova_src/results/rtd-force/
kinova_src/scripts/adj_matrix_uniform_mult3.txt
figures/*
