[submodule "kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/pybind11"]
	path = kinova_src/kinova_simulator_interfaces/kinova_planner_realtime/pybind11
	url = https://github.com/pybind/pybind11.git
